{% extends 'base.html' %}

{% block title %}Sign Up| Prototyping Labo{% endblock %}

{% block head %}{% endblock %}

{% block search %}{% endblock %}

{% block background %}{% endblock %}

{% block category %}{% endblock %}

{% block contents %}
<section class="u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">We send email</h2>
            <p>Please authenticate from the linked page</p>
        </header>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}