{% extends 'base.html' %}

{% block title %}Password Change Done| Prototyping Labo{% endblock %}

{% block head %}{% endblock %}

{% block search %}{% endblock %}

{% block background %}{% endblock %}
<!--メッセージの出力-->
{% if messages %}
{% for message in messages %}
<div  {% if message.tags %} class="alert {{ message.tags }} text-white fade show rounded-0" role="alert" {% endif %}>
  <div class="container d-flex">
    <div class="alert__icon mr-3">
      <i class="fas {% if message.tags == 'bg-info' %}fa-info-circle
      {% elif message.tags == 'bg-success' %}fa-check-circle
      {% elif message.tags == 'bg-warning' %}fa-exclamation-triangle
      {% else %}fa-minus-circle
      {% endif %}"></i>
    </div>

    <div class="align-self-center mr-3">{{ message }}</div>

    <div class="ml-auto">
      <button type="button" class="alert__close alert__close--light" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
</div>
{% endfor %}    
{% endif %}
<!--End メッセージの出力-->

{% block category %}{% endblock %}

{% block contents %}
<section class="u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">Changed Password</h2>
        </header>
        <div class="text-center">
            <a class="btn btn-primary btn-lg" href="{% url 'article:index' %}">Top</a>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}