{% extends 'base.html' %}

{% load static %}

{% block title %}{% for s in customuser_list %}{{ s.username }}{% endfor %} | Prototyping Labo{% endblock %}

{% block head %}{% endblock %}

{% block search %}{% endblock %}

{% block background %}
<section class="js-parallax u-promo-block u-promo-block--mheight-500 u-overlay u-overlay--dark text-white" {% if object.bg_image %} style="background-image:url('{{ object.bg_image.url }}');"{% else %} style="background-image:url('{% static 'img/bg_image_default.png' %}');"{% endif %}>
  <!-- Promo Content -->
  <div class="container u-overlay__inner u-ver-center u-content-space">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="text-center">
          <h1 class="display-sm-4 display-lg-3">{{ object.username }}</h1>
          {% if object.profession %}
          <p class="h6 text-uppercase u-letter-spacing-sm mb-2"> {{ object.profession }}</p>
          {%  endif %}
          <ul class="list-inline text-center mb-0">
            {% if object.fb_link %}
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Facebook">
              <a class="text-white" href="{{ object.fb_link }}">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            {% endif %}
            {% if object.tw_link %}
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Twitter">
              <a class="text-white" href="{{ object.tw_link }}">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            {% endif %}
            {% if object.ig_link %}
            <li class="list-inline-item mx-2" data-toggle="tooltip" data-placement="top" title="Instagram">
              <a class="text-white" href="{{ object.ig_link }}">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            {% endif %}
          </ul>
          
        </div>
      </div>
    </div>
  </div>
  <!-- End Promo Content -->
</section>
{% endblock %}

{% block category %}{% endblock %}

{% block contents %}
<section>
  <div class="container">
    <!-- Profile Block -->
    <div class="row">
      <div class="col-md-4 mx-auto">
        <div class="u-pull-half text-center">
        {% if object.icon %}
          <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle mb-3" width="200" height="auto" src="{{ object.icon.url }}" alt="Image Description">
        {% else %}
          <img class="img-fluid u-avatar u-box-shadow-lg rounded-circle mb-3" width="200" height="auto" src="{% static 'img/default_icon.png' %}" alt="Image Description">
        {% endif %}
        </div>
      </div>
    </div>
    <!-- End Profile Block -->

    <!-- About -->
    <div class="row u-content-space-bottom">
      <div class="col-lg-6 mb-5 mb-lg-5 pl-lg-5 mx-auto">
        {% if object.introduction %}
        <h4 class="mb-3">About me</h4>
        <p>{{ object.introduction }}</p>
        {% endif%}
      </div>
    </div>
    <!-- End About  -->
  </div>
</section>
<!-- End About Section -->

<div class="container">
  <hr class="my-0">
</div>

<!-- Portfolio -->
<section class="u-content-space">
  <div class="container">
    <header class="text-center w-md-50 mx-auto mb-8">
      <h2 class="h1">Prototyping Works</h2>
    </header>

    <!-- Work Content -->
    <div class="js-shuffle u-portfolio row no-gutters mb-6">
      {% for article in article_list %}
      <figure class="col-sm-6 col-md-4 u-portfolio__item" data-groups='["its-illustration"]'>
        <img class="u-portfolio__image_original" src="{{ article.thumbnail.url }}" alt="Image Description">
        <figcaption class="u-portfolio__info">
          <h6 class="mb-0">{{ article.title }}</h6>
          <p class="mb-0" style="font-size: 0.8em;">{{ article.view_count }} view | Posted:{{ article.created_at|date:"Y-m-j" }}{% if article.updated_at %} | Updated:{{ article.updated_at|date:"Y-m-j" }}{% endif %}</p>
        </figcaption>
        <a class="js-popup-image u-portfolio__zoom" href="{% url 'article:article_detail' article.pk %}">Zoom</a>
      </figure>
      {% endfor %}
      <!-- sizer -->
      <figure class="col-sm-6 col-md-4 u-portfolio__item shuffle_sizer"></figure>
    </div>
    <!-- End Work Content -->
    
    <!--ページネーション処理-->
    {% if is_paginated %}
    <div class="row justify-content-between align-items-center mb-4">
      <div class="col-lg">
        <nav aria-label="Bootstrap Pagination Example">
          <ul class="pagination mb-0">
            <!--前ページへのリンク-->
            {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
              <span class="mr-1 d-none d-sm-inline-block">&larr;</span> Previous
              </a>
            </li>
            {% endif %}

            <!--ページ数表示-->
            {% for page_num in page_obj.paginator.page_range %}
              {% if page_obj.number == page_num %}
                <li class="page-item active">
                  <a class="page-link" href="#">{{ page_num }}</a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
              {% endif %}
            {% endfor %}

            <!--次ページへのリンク-->
            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                  Next<span class="ml-1 d-none d-sm-inline-block">&rarr;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
    {% endif %}
  </div>
</section>
<!-- End Portfolio -->
{% endblock %}

{% block js %}{% endblock %}