{% extends 'base.html' %}

{% block title %}Password Reset Done | Prototyping Labo{% endblock %}

{% block head %}{% endblock %}

{% block search %}{% endblock %}

{% block background %}{% endblock %}

{% block category %}{% endblock %}

{% block contents %}
<section class="u-content-space">
    <div class="container">
        <header class="text-center w-md-50 mx-auto mb-8">
            <h2 class="h1">Reset password</h2>
        </header>   
        {% if user.is_authenticated %}
        {% include 'account/snippets/already_logged_in.html' %}
        {% endif %}
        <p class="h5">Password reset email was sent</p>
    </div>
</section>
{% endblock %}

{% block js %}{% endblock %}