{% extends 'base.html' %}

{% block title %}Sigun Up | Prototyping Labo{% endblock %}

{% block head %}{% endblock %}

{% block search %}{% endblock %}

{% block background %}{% endblock %}

{% block category %}{% endblock %}

{% block active_signup %}active{% endblock %}

{% block contents %}
<section class="u-content-space">
  <div class="container">
    <header class="text-center w-md-50 mx-auto mb-8">
      <h2 class="h1">Create Account</h2>
    </header>
    <form class="text-center w-md-75 mx-auto" method="POST" action="{% url 'account_signup' %}">
      {% csrf_token %}

      {{ form.as_p }}

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
      {% endif %}
      <div class="text-center">
        <button class="btn btn-lg btn-primary py-3 px-4" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block js %}{% endblock %}